.navbar{
    background-color: #7780c8;
    padding:0 !important;
    position: fixed !important;
    top:0 !important;
    left : 0 !important;
    width:100% !important;
}

.navbar-bg-light{
    background-color: #969dd4;
    padding:15px;
}
.brandName{
    margin-left:55px;
    margin-right:30px;
    color:#fff !important;
    letter-spacing: 2px;
    font-size: 18px;
    margin-top:5px;
    width:135px;
}
.searchBar{
    background-color: #9c91d5 !important;
    border :1px solid #9c91d5 !important;
    border-radius:20px !important;
    color:#fff !important;
    padding-left:38px !important;
}
.searchBar:focus{
    background-color: #9c91d5 !important;
    color:#fff !important;
    text-indent: 10px !important;
}
.searchBar::placeholder{
    color: #efefef !important;
}
.icon{
    color:#fff !important;
    cursor: pointer ;
}
.recruiterName{
    color:#fff;
    font-size: 16px;
    font-weight: normal;
    margin-right:25px;
    margin-left:40px;
    margin-top:6px
}

.inputIcon{
    position: absolute !important;
    top:24px !important;
    margin-left:15px !important;
    color:#fff;
}

