.initial-statistics-grid {
    margin-left:30px;
    margin-right:30px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item{
    margin-right:10px;
}
.statistics-title{
    color:#6F787F;
    font-size: 28px;
    font-family: openSansLight;
}
.small{
    font-size: 13px;
}
.small-bold-text{
    font-family: openSansSemiBold;
    color:#3cbfa5
}
.small-bold-header{
    font-family: openSansSemiBold;
    color:#6F787F;
    font-weight: bold;
}
.table-text{
    font-size: 12px;
    color:#212529;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.title{
    color:#6F787F;
    font-family: openSans;
}
.sub-stats{
    color:#6F787F;
    font-size: 15px;
}
.sub-stats-bold{
    font-weight: bold;
}
table {
    font-family: openSans;
    font-size: 15px;
    color:#212529;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f3f2
}
.table{
    background-color: #fff;
    padding:20px;
    padding: top 10px;
}
.form-wrapper{
    margin-bottom:20px;
}
.input-field{
    padding:8px;
    border: 1px solid #e5e6e7;
    font-size: 15px;
    width: 87%;
}
.select-field{
    padding:8px;
    border: 1px solid #e5e6e7;
    font-size: 15px;
    background-color: #fff;
    margin-left:5px;    
    width: 10%;
}